Gesture-Controlled-Vehicle-ESP-Code/.pio
Gesture-Controlled-Vehicle-ESP-Code/.vscode/.browse.c_cpp.db*
Gesture-Controlled-Vehicle-ESP-Code/.vscode/c_cpp_properties.json
Gesture-Controlled-Vehicle-ESP-Code/.vscode/launch.json
Gesture-Controlled-Vehicle-ESP-Code/.vscode/ipch
Gesture-Controlled-Vehicle-Application-Code/venv
Gesture-Controlled-Vehicle-Application-Code/AllCode.txt
Gesture-Controlled-Vehicle-ESP-Code/.gitignore
